body {
    font-family: Arial, sans-serif;
    background-color: palevioletred;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    width: 100%;
}

h1 {
    color: #722954; 
    margin-bottom: 20px;
}

input[type="text"], select, button {
    padding: 15px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 15px;
}

button {
    background-color: #ba2089; 
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #ba2089; 
}

.money {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.exchange {
    flex: 1;
    margin: 0 10px;
    padding: 15px;
    background-color: #f8bbd0;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.exchange h2 {
    color: #e91e63;
    margin-bottom: 10px;
}

.moneda {
    font-size: 24px;
    font-weight: bold;
    color: #ba2089;
}

p {
    margin: 0;
    font-size: 18px;
    color: #333;
}